@model IEnumerable<tblTour>
    <style>
        img {
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px;
            margin-bottom: 10px;
        }

        div.polaroid {
            width: 80%;
            background-color: white;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            margin-bottom: 25px;
        }

        div.container {
            text-align: center;
            padding: 10px 20px;
        }
    </style>
<div class="container">
        <h3>All tours (@Model.Count())</h3>
        @foreach (var item in Model)
        {
        
        <img src="@("~/Images/" + item.ImgName)" asp-append-version="true" width="250" height="250">

        <div class="row">
            <div class="col-2">
                <div class="row">
                    <h6>Price</h6>
                </div>
                <div class="row">
                    <h6>@item.Price</h6>
                </div>
            </div>

            <div class="col-2">
                <div class="row">
                    <h6>Maximum number of touroists</h6>
                </div>
                <div class="row">
                    <h6>@item.MaxTourist</h6>
                </div>
            </div>

            <div class="col-2">
                <div class="row">
                    <h6>Start Date of tours</h6>
                </div>
                <div class="row">
                    <h6>@item.StartDate.ToString("yyyy/MMMM/dd")</h6>
                </div>
            </div>
            <div class="col-2">
                <div class="row">
                    <h6>End Date of tours</h6>
                </div>
                <div class="row">
                    <h6>@item.EndDate.ToString("yyyy/MMMM/dd")</h6>
                </div>
            </div>
            <div class="col-1">
                <a class="btn btn-outline-info" asp-action="TourInfo" asp-controller="Places" asp-route-id="@item.GuId">View Tour</a>
            </div>
            <div class="col-1">
                <a class="btn btn-outline-danger" asp-action="DeleteTour" asp-controller="Guider" asp-route-id="@item.GuId">View Tour</a>
            </div>
        </div>
        }
</div>