@model IEnumerable<tblTour>
    <title>Tours | ITMS</title>
<style>
    img {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        margin: 10px 10px 10px 10px;
    }

    div.polaroid {
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-bottom: 25px;
    }

    div.container {
        text-align: center;
        padding: 10px 20px;
    }
</style>
<div class="container">
    <h3 class="text-lg-start">All tours (@Model.Count())</h3>
    @foreach (var item in Model)
    {
        <div class="polaroid">
            <img class="d-block" src="@("~/Images/" + item.ImgName)" asp-append-version="true" style=" width: 250px; height: 250px;">
            <div class="container">
                <table class="table">
                    <tr>
                        <td>Tour Name</td>
                        <td>Price</td>
                        <td>Tour Duration</td>
                        <td>Start Date of tours</td>
                        <td>End Date of tours</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@item.TourName </td>
                        <td>@item.Price (SR)</td>
                        <td>@item.MaxTourist (hours)</td>
                        <td>@item.StartDate.ToString("yyyy/MMMM/dd")</td>
                        <td>@item.EndDate.ToString("yyyy/MMMM/dd")</td>
                        <td colspan="2"> <a class="btn btn-outline-info" asp-action="Tour" asp-controller="Places" asp-route-id="@item.GuId">View</a></td>
                    </tr>
                </table>
            </div>
        </div>
    }
</div>