@model ITMS.Models.tblRating
    <link href="~/lib/summernote-0.8.18-dist/summernote-lite.css" rel="stylesheet" />
    <script src="~/lib/summernote-0.8.18-dist/summernote-lite.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <style>
        .top-buffer {
            margin-top: 35px;
        }
        .divider {
            border-top: 8px solid #bbb;
            border-radius: 5px;
            color: orange;
        }
    </style>
    @{var data = (tblPlaces)ViewData["PlaceInfo"]; }
<div class="container">
    @if (data == null )
            {  
    <div class="text-center">
        <img src="~/Images/404_image.png" />
        <h4 style="color:midnightblue;">This page doesn't exist.</h4>
        <h4 style="color:midnightblue;">Click <a href="/Places/ViewPlaces">HERE</a> to go back  </h4 >
    </div>
            }
            else { 
    <!-- Portfolio Item Heading -->
    <h1 class="my-4">
        <small>@data.Name</small>
    </h1>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid" src="@("~/Images/" + data.ImgName)" asp-append-version="true" width="750px" height="500px">
        </div>

        <div class="col-md-4">
            <h2 class="my-3">Place Description</h2>
            <p>Date of Creation : <span style="color:dimgray">@data.CreationDate.ToString("yyyy/MMMM/dd")</span></p>
            <p> <span style="color:dimgray">@data.Category.CategoryName</span></p>
            <p>Google Maps Location : <a id="location" href="@data.location">Here</a></p> 



        </div>

    </div>
    <hr class="divider" />
    <h2 class="my-3">Description</h2>
    <div class="row">
        <p>@Html.Raw(data.Description)</p>
    </div>
    <hr class="divider" />
    <div class="row top-buffer"></div>
        IEnumerable<tblRating> Ratings = ViewData["Ratings"] as IEnumerable<tblRating>;
        if (Ratings.Count() > 0)
        {


    <h4>Average Rating : @ViewData["AverageRating"]</h4>
    <div class="row top-buffer"></div>
    
        <h4>Number of Ratings : @Ratings.Count()</h4>}
        <!-- /.container -->
        if (User.Identity.IsAuthenticated)
        {
            <form asp-action="AddRating" id="form">

                <input type="radio" value=5 asp-for="Rate">
                <label>☆☆☆☆☆</label><br />
                <input type="radio" value=4 asp-for="Rate">
                <label>☆☆☆☆</label><br />
                <input type="radio" value=3 asp-for="Rate">
                <label>☆☆☆</label><br />
                <input type="radio" value=2 asp-for="Rate">
                <label>☆☆</label><br />
                <input type="radio" value=1 asp-for="Rate">
                <label>☆</label><br />
                <div class="row top-buffer">
                    <div class="col-8">
                        <textarea id="summernote" asp-for="Details"></textarea><br />
                    </div>
                </div>
                <input type="text" value="@data.Id" asp-for="PlacesId" hidden />
                <button type="submit" id="do_it" class="btn btn-outline-info" onclick="return Valdation()">Submit</button>

            </form>
        }


        var i = 1;

        foreach (var item in Ratings)
        {
            <div class="row top-buffer">
                <div class="col-md-4">
                    <div class="card-body">
                        <h5 class="card-title">@item.User.Name</h5>
                        <p class="card-text">@item.Rate / 5</p>
                        <p>@Html.Raw(@item.Details)</p>
                    </div>
                </div>
            </div>
            i++;
        }

    }
</div>
    <script type="text/javascript">
        $('#summernote').summernote({
            fontSizes: ['8', '9', '10', '11', '12', '14', '16', '18', '20', '22', '24'],
            toolbar: [
                // [groupName, [list of button]]
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['font', ['strikethrough', 'superscript', 'subscript']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['table', ['table']],
                ['height', ['height']]
            ]
        });
    </script>
    <script>

        var x = document.getElementById("Distance");
        
        window.onload = function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }
        function showPosition(position) {
           /* x.innerHTML = position.coords.latitude;
            x.setAttribute('value', position.coords.latitude);
            = position.coords.latitude;*/
            /*  y.setAttribute('value', position.coords.longitude);
                          = position.coords.longitude;*/

        }
    </script>