@model ITMS.Models.tblGuiderCertificate
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
<link rel="icon" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .divider {
        border-left: 6px solid #e96b56;
        height: 65px;
    }

    body {
        background: #eee
    }

    .card {
        border: none;
        position: relative;
        overflow: hidden;
        border-radius: 8px;
        cursor: pointer
    }

        .card:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 4px;
            height: 100%;
            background-color: #e6bab3;
            transform: scaleY(1);
            transition: all 0.5s;
            transform-origin: bottom
        }

        .card:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 4px;
            height: 100%;
            background-color: #e96b56;
            transform: scaleY(0);
            transition: all 0.5s;
            transform-origin: bottom
        }

        .card:hover::after {
            transform: scaleY(1)
        }

    .fonts {
        font-size: 11px
    }

    .social-list {
        display: flex;
        list-style: none;
        justify-content: center;
        padding: 0
    }

        .social-list li {
            padding: 10px;
            color: #e96b56;
            font-size: 19px
        }

    .buttons a:nth-child(1) {
        border: 1px solid #e96b56 !important;
        color: #e96b56;
        height: 40px
    }

        .buttons a:nth-child(1):hover {
            border: 1px solid #e96b56 !important;
            color: #fff;
            height: 40px;
            background-color: #e96b56
        }

    .buttons a:nth-child(2) {
        border: 1px solid #e96b56 !important;
        background-color: #e96b56;
        color: #fff;
        height: 40px
    }

        .buttons a:nth-child(2):hover {
            border: 1px solid #e96b56 !important;
            color: #e96b56;
            height: 40px;
            background-color: #fff
        }
    img {
        max-width: 100%;
    }
</style>
<div class="container mt-5">
    <div class="row d-flex ">
        <div class="col-md-12 justify-content-center">
            <div class="card p-3 py-4">
                <div class="text-center"> <img src="@("~/Images/" + Model.ImgName)" asp-append-version="true" > </div>
                <div class="text-center mt-3">
                    <span class="bg-secondary p-1 px-4 rounded text-white">@Model.City.CityName</span>

                    <h4 class="mt-2 mb-0">@Model.User.Name</h4>
                    @{ IEnumerable<tblLangGuider> Languages = ViewData["CertificateLanguage"] as IEnumerable<tblLangGuider>;
                        <h5 class="marg">Spoken Languages: </h5>
                        foreach (var item in Languages)
                        {

                            <span class="btn btn-dark p-1 px-4 rounded text-white">@item.Language.EngName</span>

                        }
                    }
                    <h5>Contact number : @Model.User.Phone</h5>
                </div>
                <div>
                    @{IEnumerable<tblTour> Tours = ViewData["GuiderTours"] as IEnumerable<tblTour>;
                        <h3>All tours (@Tours.Count())</h3>
                        foreach (var item in Tours)
                        {

                            <img src="@("~/Images/" + item.ImgName)" asp-append-version="true" width="250" height="250">

                            <div class="row">
                                <div class="col-2">
                                    <div class="row">
                                        <h6>Price</h6>
                                    </div>
                                    <div class="row">
                                        <h6>@item.Price</h6>
                                    </div>
                                </div>

                                <div class="col-2">
                                    <div class="row">
                                        <h6>Maximum number of touroists</h6>
                                    </div>
                                    <div class="row">
                                        <h6>@item.MaxTourist</h6>
                                    </div>
                                </div>

                                <div class="col-2">
                                    <div class="row">
                                        <h6>Start Date of tours</h6>
                                    </div>
                                    <div class="row">
                                        <h6>@item.StartDate.ToString("yyyy/MMMM/dd")</h6>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="row">
                                        <h6>End Date of tours</h6>
                                    </div>
                                    <div class="row">
                                        <h6>@item.EndDate.ToString("yyyy/MMMM/dd")</h6>
                                    </div>
                                </div>
                                <div class="col-1">
                                    <a class="btn btn-outline-info" asp-action="TourInfo" asp-controller="Places" asp-route-id="@item.GuId">View Tour</a>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>