
@model tblUsers
<head>
    <script>
                @{
                if (@ViewData["Successful"] != null)
                {
                    <Text>
                    var result = '@Html.Raw(ViewData["Successful"])';
                    Swal.fire(result, '', 'success')
                         .then(
                         function () {
                    window.location.href = '@Url.Action("Logout","Account")';
                         }
                    );

                    </Text>
                }

                    else if(@ViewData["Falied"] != null)
                    {
                    <Text>
                    var result = '@Html.Raw(ViewData["Falied"])';
                    Swal.fire(result, '', 'error');
                    </Text>
                }
            }

    </script>
    <script src="~/js/Validation.js"></script>
</head>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Change Password</h3>
        </div>
        <div class="card-body">
            <form id="form" asp-action="ChangePassword">
                <div class="row">
                    <div class="col-md-5">
                        <label class="col-form-label">Old Password</label>
                        <input type="password" asp-for="Password" class="form-control">
                        @if (ViewBag.Error == 2)
                        {
                            <div class="row"><p style="color:red">Incorrect Password </p></div>}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <label class="col-form-label">New Password</label>
                        <input type="password" id="password" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <label class="col-form-label">Confirme Password</label>
                        <input type="password" id="confirm_password" class="form-control">
                        <div style="margin-top: 7px;" id="CheckPasswordMatch"></div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12 " style="text-align: left;">
                        <button type="submit" id="submit" class="btn btn-dark btn-search" onclick="return Valdation()"> Save </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#submit").click(function () {
                var password = $("#password").val();
                var confirmPassword = $("#confirm_password").val();
                if (password != confirmPassword) {
                    $("#CheckPasswordMatch").html("Password does not match !").css("color", "red");
                    return false;
                }
                return true;
            });
        });
    </script>
