
@model ITMS.Models.tblUsers;
<script>
                @{
                if (@ViewData["Login_success"] != null)
                {
                    <Text>
                    var result = '@Html.Raw(ViewData["Login_success"])';
                    Swal.fire(result,'','success')
                        .then(
                            function () {
                                window.location.href = '@Url.Action("Index", "Home")';
                            }
                        );
                    </Text>
                }
                else if (@ViewData["Login_error"] != null)
                {
                    <Text>
                    var result = '@Html.Raw(ViewData["Login_error"])';
                    Swal.fire(result, '', 'error')
                    </Text>
                    }
            }
</script>
<body>
    <div class="container">
        <div class="row justify-content-center">


            <div class="col-lg-6">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><h2 class="text-center font-weight-light my-4">Welcome to ITMS</h2></div>
                    <div class="card-body">
                        <form asp-action="LogIn">
                            <div class="form-floating mb-3">
                                <input class="form-control" type="email" placeholder="name@example.com" asp-for="Email" />
                                <label for="inputEmail">Email address</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input class="form-control" type="Password" placeholder="Password" asp-for="Password" />
                                <label for="inputPassword">Password</label>
                            </div>
                            <div class="row">
                            </div>
                            <div class="form-floating mb-3">
                                <button type="submit" class="btn btn-dark btn-search" onclick="return Valdation()"> Login </button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <div class="small"><a asp-action="SignUp">Sign Up</a></div>
                        <div class="small"><a asp-action="EmailCheck">Forgat Password</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

