@model tblUsers
<style>
    /* Style all input fields */
    input {
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
    }

        /* Style the submit button */
        input[type=submit] {
            background-color: #04AA6D;
            color: white;
        }

    /* Style the container for inputs */
    .container {
        padding: 20px;
    }

    /* The message box is shown when the user clicks on the password field */
    #message {
        display: none;
        background: #f1f1f1;
        color: #000;
        position: relative;
        padding: 20px;
        margin-top: 10px;
    }

        #message p {
            padding: 10px 35px;
            font-size: 14px;
        }

    /* Add a green text color and a checkmark when the requirements are right */
    .valid {
        color: green;
    }

        .valid:before {
            position: relative;
            left: -35px;
            content: "✔";
        }

    /* Add a red text color and an "x" when the requirements are wrong */
    .invalid {
        color: red;
    }

        .invalid:before {
            position: relative;
            left: -35px;
            content: "✖";
        }
</style>
<script src="~/js/Validation.js"></script>
<div id="v-card" class="d-flex justify-content-center" style="margin-top: 100px;">
    <div class="col-md-8">
        <div class="card ">
            <div class="card-header">
                <h3>Sign Up</h3>
            </div>
            <div class="card-body">
                <form asp-action="SignUp" id="form">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="col-form-label">Full Name</label>
                            <input type="text" asp-for="Name" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="col-form-label">Email</label>
                            <input type="email" asp-for="Email" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div id="message">
                            <h4>Password must contain the following:</h4>
                            <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                            <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                            <p id="number" class="invalid">A <b>number</b></p>
                            <p id="length" class="invalid">Minimum <b>8 characters</b></p>
                            <p id="conf" class="invalid">Two passwords <b>must be identical</b></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="psw" class="col-form-label">Password</label>
                            <input type="password" id="psw" name="psw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="col-form-label">Confirm Password</label>
                            <input type="password" id="ConfirmedPassword" name="ConfirmedPassword" class="form-control">
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <label class="col-form-label">Phone No.</label>
                            <input type="text" asp-for="Phone" class="form-control">
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12 " style="text-align: left;">
                            <button type="submit" class="btn btn-dark btn-search" onclick="return Valdation()"> Sign Up </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
                @{
                if (@ViewData["Successful"] != null)
                {
                    <Text>
                    var result = '@Html.Raw(ViewData["Successful"])';
                    Swal.fire(result,'','success')
                        .then(
                            function () {
                                window.location.href = '@Url.Action("LogIn", "Account")';
                            }
                        );
                    </Text>
                    }
                   else if(@ViewData["EmailFound"] != null )
                    {
                    <Text>
                        var result = '@Html.Raw(ViewData["EmailFound"])';
                        Swal.fire(result,'','error')
                    </Text>
                    }
                    else if(@ViewData["PhoneFound"] != null )
                    {
                    <Text>
                        var result = '@Html.Raw(ViewData["PhoneFound"])';
                        Swal.fire(result,'','error')
                    </Text>
                    }
                    else if(@ViewData["Failed"] != null )
                    {
                    <Text>
                        var result = '@Html.Raw(ViewData["Failed"])';
                        Swal.fire(result, '', 'error')

                    </Text>
                    }
            }
</script>
<script>
    var myInput = document.getElementById("psw");
    var myconf = document.getElementById("ConfirmedPassword");
    var letter = document.getElementById("letter");
    var capital = document.getElementById("capital");
    var number = document.getElementById("number");
    var length = document.getElementById("length");
    var conf = document.getElementById("conf");

    // When the user clicks on the password field, show the message box
    myInput.onfocus = function () {
        document.getElementById("message").style.display = "block";
    }

    // When the user clicks outside of the password field, hide the message box
    myInput.onblur = function () {
        document.getElementById("message").style.display = "none";
    }
    // When the user clicks on the password field, show the message box
    myconf.onfocus = function () {
        document.getElementById("message").style.display = "block";
    }

    // When the user clicks outside of the password field, hide the message box
    myconf.onblur = function () {
        document.getElementById("message").style.display = "none";
    }
    // When the user starts to type something inside the password field
    myInput.onkeyup = function () {
        // Validate lowercase letters
        var lowerCaseLetters = /[a-z]/g;
        if (myInput.value.match(lowerCaseLetters)) {
            letter.classList.remove("invalid");
            letter.classList.add("valid");
        } else {
            letter.classList.remove("valid");
            letter.classList.add("invalid");
        }

        // Validate capital letters
        var upperCaseLetters = /[A-Z]/g;
        if (myInput.value.match(upperCaseLetters)) {
            capital.classList.remove("invalid");
            capital.classList.add("valid");
        } else {
            capital.classList.remove("valid");
            capital.classList.add("invalid");
        }

        // Validate numbers
        var numbers = /[0-9]/g;
        if (myInput.value.match(numbers)) {
            number.classList.remove("invalid");
            number.classList.add("valid");
        } else {
            number.classList.remove("valid");
            number.classList.add("invalid");
        }

        // Validate length
        if (myInput.value.length >= 8) {
            length.classList.remove("invalid");
            length.classList.add("valid");
        } else {
            length.classList.remove("valid");
            length.classList.add("invalid");
        }

        // Validate matching passwords
        if (myInput.value === myconf.value) {
            conf.classList.remove("invalid");
            conf.classList.add("valid");
        } else {
            conf.classList.remove("valid");
            conf.classList.add("invalid");
        }
        myconf.onkeyup = function () {

            // Validate matching passwords
            if (myInput.value === myconf.value) {
                conf.classList.remove("invalid");
                conf.classList.add("valid");
            } else {
                conf.classList.remove("valid");
                conf.classList.add("invalid");
            }
        }

    }
</script>