@model IEnumerable<tblGuiderCertificate>
<div class="card-body">
    <div id="v-card" class="row justify-content-center" style="margin-top: 44px;">
        <div class="col-md-7 ">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Guider Name</th>
                        <th>City</th>
                        <th>Certificate Status</th>
                        <th>End Date of Certificate</th>
                    </tr>
                </thead>
                <tbody>
                    @{ var i = 1;
                        foreach (var item in Model)
                        {

                            <tr>
                                <td>@i </td>
                                <td>@item.User.Name</td>
                                <td>@item.City.CityName</td>
                                <td>@item.Status.StatusName</td>
                                <td>
                                    @item.ExpireDate.ToString("yyyy-MM-dd")
                                    @{int res = DateTime.Compare(item.ExpireDate, DateTime.Now);
                                        if (res < 0)
                                        {

                                            <p style="color:red;">Expired</p>
                                            <a asp-action="deleteCertificate" asp-route-id="@item.GuId" class="btn btn-outline-danger">Remove</a>
                                        }
                                    }
                                </td>
                            </tr>
                            i++;
                        } }
                </tbody>
            </table>
        </div>
    </div>
</div>